mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt=userLoggedIn.firstName)
        .textareaContainer 
            textarea#postTextarea( placeholder="What's happening?")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post